<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @task.name %>
</p>

<p>
  <b>Description:</b>
  <%= @task.description %>
</p>

<p>
  <b>Points:</b>
  <%= @task.points %>
</p>

<p>
  <b>Minimum global level:</b>
  <%= @task.minimum_global_level %>
</p>

<p>
  <b>Time limit:</b>
  <%= @task.time_limit %> mins
</p>

<p>
  <b>Category:</b>
  <%= @task.category.name %>
</p>

<%= render 'instructions', :locals => {task: @task, hacker: @hacker} %>


<%= link_to 'Back', tasks_path %>
