<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @task.name %>
</p>

<p>
  <b>Description:</b>
  <%= @task.description %>
</p>

<p>
  <b>Points:</b>
  <%= @task.points %>
</p>

<p>
  <b>Minimum global level:</b>
  <%= @task.minimum_global_level %>
</p>

<p>
  <b>Time limit:</b>
  <%= @task.time_limit %>
</p>

<p>
  <b>Category:</b>
  <%= @task.Category %>
</p>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
